<!DOCTYPE html>
<html>
<head>
    <title>Placement Prediction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'predictor/predictor.css' %}">
</head>
<body>
    <h2>Enter Student Details</h2>
    <form method="post">
        {% csrf_token %}
        <label>SSC %:</label>
<input type="number" name="ssc_p" step="0.01" min="1" max="100" required><br>

<label>HSC %:</label>
<input type="number" name="hsc_p" step="0.01" min="1" max="100" required><br>

<label>Degree %:</label>
<input type="number" name="degree_p" step="0.01" min="1" max="100" required><br>

<label>Employability Test %:</label>
<input type="number" name="etest_p" step="0.01" min="1" max="100" required><br>

<label>MCA %:</label>
<input type="number" name="mba_p" step="0.01" min="1" max="100" required><br>
<label>Work Experience:</label>
<select name="workex" required>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select><br>

        <input type="submit" value="Predict">
    </form>

    {% if result %}
        <h3>Prediction: {{ result }}</h3>
    {% endif %}
</body>
</html>
