/* users/static/users/css/job_detail.css */
.detail-main-content {
    padding: 2rem 3rem;
    background-color: #fff;
    border: 1px solid #e9e9f1;
    border-radius: 0.75rem;
}

.job-section {
    margin-bottom: 2.5rem;
}

.job-section h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.job-section p, .job-section li {
    color: #555;
    line-height: 1.8;
}

.skill-tag {
    display: inline-block;
    background-color: #e7f3ff;
    color: #0d6efd;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
}

.sidebar-card {
    background-color: #f8f9fe;
    padding: 1.5rem;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}
.sidebar-card.light-orange {
    background-color: #cde2f3;
}

.sidebar-card h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555555;
}

.sidebar-card .value {
    font-weight: 700;
    font-size: 1.2rem;
    color: #111;
}

.date-item {
    padding: 0.75rem 0;
    border-top: 1px solid #e9e9f1;
}
.date-item:first-child {
    border-top: none;
    padding-top: 0;
}
.date-item .date-label {
    display: block;
    color: #555;
    font-size: 0.9rem;
}
.date-item .date-value {
    font-weight: 600;
    color: #111;
}